.info{
    width: 100%;
    background-color: red;
    padding:4rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0rem 1rem 0rem;
    text-align: center;
    background: rgb(29,58,213);
    background: linear-gradient(29deg, rgb(35, 138, 164) 0%, rgba(38,192,209,1) 100%); 

    .info_list{
        width: 24%;
        color: #ecf0f1;
    }
    
     .info_list h5{
        font-size: 1.8rem;
    }
}


